<div class="relative overflow-hidden rounded-lg">
  <img src="https://picsum.photos/seed/picsum/536/354" class="w-full h-72 object-cover rounded-lg">
  <!-- Кружок с датой -->
  <div class="absolute bottom-3 right-3 bg-main-surface-secondary text-white text-lg font-bold rounded-full px-2 py-4">
    12.02
  </div>
</div>

<div class="text-white mt-4">
  <h3 class="text-xl font-bold">Вечеринка в стиле ретро</h3>
  <a class="mt-4 bg-accent-gold text-black px-4 py-2 rounded-full font-bold transition-colors hover:bg-accent-light-yellow inline-block">
    Подробнее
  </a>
</div>

<div class="relative overflow-hidden rounded-lg mt-8">
  <img src="https://picsum.photos/seed/picsum/536/354" class="w-full h-72 object-cover rounded-lg">
  <!-- Кружок с датой -->
  <div class="absolute bottom-3 right-3 bg-main-surface-secondary text-white text-lg font-bold rounded-full px-2 py-4">
    12.02
  </div>
</div>

<div class="text-white mt-4">
  <h3 class="text-xl font-bold">Вечеринка в стиле ретро</h3>
  <a class="mt-4 bg-accent-gold text-black px-4 py-2 rounded-full font-bold transition-colors hover:bg-accent-light-yellow inline-block">
    Подробнее
  </a>
</div>
