<div [ngClass]="gridClasses" class="gap-6 flex-1">
  <div *ngFor="let item of items" class="relative shadow-lg rounded-lg overflow-hidden">
    <img [src]="item.imageUrl" class="w-full h-96 object-cover">
    <div *ngIf="item.isPromotion" class="absolute top-2 left-2 bg-red-500 text-white px-3 py-1 rounded-full text-xs font-bold shadow-md">
      Акция
    </div>
    <div class="p-4 text-typo-light bg-typo-dark bg-gradient-to-r">
      <h2 class="text-xl font-bold">{{ item.title }}</h2>
      <p class="text-typo-secondary">{{ item.description }}</p>
      <a *ngIf="item.link" [href]="item.link" class="mt-8 bg-accent-gold text-black px-4 py-2 rounded-full font-bold transition-colors hover:bg-accent-light-yellow inline-block">
        Подробнее
      </a>
    </div>
  </div>
</div>
